.dop-content2
  #tabs
    %ul
      %li
        %a{:href => "#tabs-1"} Жасминовый шар
      %li
        %a{:href => "#tabs-3"} Пу Эр То Ча
      %li
        %a{:href => "#tabs-4"} Пу Эр молочный
      %li
        %a{:href => "#tabs-5"} 1001 Night Tea
      %li
        %a{:href => "#tabs-6"} Assam Harmutty
      %li
        %a{:href => "#tabs-7"} Hawaii Cocktail
      %li
        %a{:href => "#tabs-8"} Eksterina The Great
      %li
        %a{:href => "#tabs-9"} Brasil Mate green Lemon
      %li
        %a{:href => "#tabs-11"} Sencha Japanese KKH 5
      %li
        %a{:href => "#tabs-12"} Earl Grey
      %li
        %a{:href => "#tabs-13"} Japan Green Tea Genmaicha
      %li
        %a{:href => "#tabs-14"} China Jasmine Monkey King
      %li
        %a{:href => "#tabs-15"} Rooibos Fruit
    #tabs-1
      %h2 Вязаный чай «Жасминовый шар»
      %p.imgprice
        %img{:src => "images/tea/shar.jpg"}
      %p.text
        Этот напиток подарит вам массу приятных мгновений - от самого начала заваривания до чаепития.Когда вы будете заваривать "Жасминовый шар", на ваших глазах из маленького шарика вырастет настоящая цветочная композиция. Каждый глоток чая "Жасминовый шар" будет преисполнен удовольствием.
        = render 'layouts/price_tea'
    #tabs-3
      %h2 Пу Эр То Ча "Монетка"
      %p.imgprice
        %img{:src => "images/tea/monetka.jpg"}
      %p.text
        Настоящие китайские чаи пу эр изготавливаются исключительно из верхних листьев взрослых чайных деревьев. Только такие китайские чаи пу эр могут быть признаны высокосортными. Китайский прессованный чай пу эр в виде монетки. Благодаря лечебному воздействию широко используется в китайской медицине.
        = render 'layouts/price_tea'
    #tabs-4
      %h2 Пу Эр молочный
      %p.imgprice
        %img{:src => "images/tea/puer.jpg"}
      %p.text
        Ценители оригинальных видов чая считают, что китайский чай пу эр является одним из уникальных напитков, дарящих утонченный аромат и необычный букет вкусов. Китайские чаи пу эр получили свое название благодаря небольшому одноименному городку в Юннане. При заваривании этого чая получается темно-красный, не-прозрачный напиток с мягким молочным вкусом.
        = render 'layouts/price_tea'
    #tabs-5
      %h2 1001 NIGHT TEA 1001
      %p.imgprice
        %img{:src => "images/tea/002.jpg"}
      %p.text
        1001 ночь. Смесь крупнолистового черного чая из Цейлона и зеленого чая из Китая, с добавлением изюма, папайи, мальвы, розы, календулы, ароматизированная натуральными маслами.
        = render 'layouts/price_tea'
    #tabs-6
      %h2 ASSAM HARMUTTY
      %p.imgprice
        %img{:src => "images/tea/003.jpg"}
      %p.text
        Ассам Хармутти, черный. Чай привлекает своим необычайно красивым и симметричным листом тёмного цвета со множеством золотисто-коричневых типс. Вкус чая насыщенный и гармоничный, с пряным солодовым привкусом. Цвет напитка – сияющий медный, терпкий вкус с медовым ароматом.
        = render 'layouts/price_tea'
    #tabs-7
      %h2 HAWAII COCKTAIL
      %p.imgprice
        %img{:src => "images/tea/006.jpg"}
      %p.text
        Гавайский коктейль. Фруктовая смесь на основе гибискуса, с добавлением плодов шиповника, корочек апельсина, изюма, кусочков папайи и ананаса, ароматизированная натуральными маслами.
        = render 'layouts/price_tea'
    #tabs-8
      %h2 EKATERINA THE GREAT
      %p.imgprice
        %img{:src => "images/tea/008.jpg"}
      %p.text
        Екатерина Великая. Смесь крупнолистового черного чая из Цейлона и Китая, с гибискусом, лепестками роз, кусочками клубники и ежевики, ароматизированная натуральными маслами.
    #tabs-9
      %h2 BRASIL MATE GREEN LEMON
      %p.imgprice
        %img{:src => "images/tea/013.jpg"}
      %p.text
        Зеленый мате из Бразилии, ароматизированный натуральными маслами лимонника, цедрой лимона.
    #tabs-11
      %h2 SENCHA JAPANESE KKH
      %p.imgprice
        %img{:src => "images/tea/013.jpg"}
      %p.text
        Сенча. Плантационный японский зеленый чай, при заварке имеет яркий желтый цвет, очень освежающий вкус.
    #tabs-12
      %h2 EARL GREY
      %p.imgprice
        %img{:src => "images/tea/015.jpg"}
      %p.text
        Эрл Грей. Цейлонский черный чай с добавлением натурального масла бергамота.
    #tabs-13
      %h2 JAPAN GENMAICHA
      %p.imgprice
        %img{:src => "images/tea/017.jpg"}
      %p.text
        Генмайча, зеленый. Зеленый японский нежный чай Сенча с добавлением "взорванного" риса, с неповторимым сладковато-ореховым, карамельным привкусом.
    #tabs-14
      %h2 CHINA JASMINE MONKEY KING
      %p.imgprice
        %img{:src => "images/tea/021.jpg"}
      %p.text
        Зеленый с жасмином . Прекрасный китайский зеленый чай из провинции Хунань, с добавлением цветов жасмина Легкий аромат, слегка пряный вкус и хорошие тонизирующие свойства.
        = render 'layouts/price_tea'
    #tabs-15
      %h2 ROOIBOS FRUIT
      %p.imgprice
        %img{:src => "images/tea/023.jpg"}
      %p.text
        Ройбуш фруктовый. Южноафриканский краснокустарниковый ройбуш с добавлением кусочков сладкого яблока, лимона, лепестков мелиссы и подсолнечника, пропитан апельсиновым ароматом.
        = render 'layouts/price_tea'
  = render 'layouts/dop-footer'