.dop-content2
  #tabs
    %ul
      %li#for_vending
        %h2 Санкт-Петербург
      %li
        %a{:href => "#tabs-2"} Невский пр., 48
      %li
        %a{:href => "#tabs-5"} Литейный пр., 16
      %li
        %a{:href => "#tabs-6"} ул. Марата, 86
      %li
        %a{:href => "#tabs-7"} Московский пр., 109
      %li
        %a{:href => "#tabs-1"} Чкаловский пр., 11
      %li
        %a{:href => "#tabs-3"} пр. Художников, 14
      %li#for_vending
        %h2 Ростов-на-Дону
      %li
        %a{:href => "#tabs-4"} ул. Большая Садовая, 34а
      %li#for_vending
        %h2 Москва
      %li
        %a{:href => "#tabs-9"}
          Скоро открытие
    #tabs-1
      = render 'layouts/yandex_01'
    #tabs-2
      = render 'layouts/yandex_02'
    #tabs-3
      = render 'layouts/yandex_03'
    #tabs-5
      = render 'layouts/yandex_05'
    #tabs-6
      = render 'layouts/yandex_06'
    #tabs-4
      = render 'layouts/yandex_04'
    #tabs-7
      = render 'layouts/yandex_07'
    #tabs-9
      =render 'layouts/yandex_09'

  = render 'layouts/dop-footer'
