#kofe
  .dop-content2
    #tabs
      %ul
        %li
          %a{href: "#tabs-1"} Фирменная смесь
        %li
          %a{href: "#tabs-9"} Blue Mountain
        %li
          %a{href: "#tabs-4"} Kenya
        %li
          %a{href: "#tabs-2"} Guatemala
        %li
          %a{href: "#tabs-3"} Columbia
        %li
          %a{href: "#tabs-5"} Nicaragua
        %li
          %a{href: "#tabs-6"} Ethiopian
        %li
          %a{href: "#tabs-7"} Indonesia
        %li
          %a{href: "#tabs-11"} Costa Rica
        %li
          %a{href: "#tabs-10"} Decafinated
        %li
          %a{href: "#tabs-16"} Bugisu UGANDA
        %li
          %a{href: "#tabs-8"} Brasil Santos
        %li#for_vending
          %h2 Смеси с робустой
        %li
          %a{href: "#tabs-12"} Северная Венеция
        %li
          %a{href: "#tabs-15"} Кофейная симфония
        %li
          %a{href: "#tabs-19"} Ленинградская
        %li
          %a{href: "#tabs-18"} Эспрессо вендинг
        %li
          %a{href: "#tabs-17"} Смесь крепкая
      #tabs-1
        %h2 Фирменный кофе "Гурме"
        %p.imgprice
          %img{src: "images/ill_gurme.jpg"}
        %p.text
          Кофейные бобы, выращенные на различных почвах и континентах, в различных климатических условиях, имеют свои неповторимые вкусовые оттенки и соответствующую ценность. Смешивая зерна различных сортов можно получить кофе с новыми вкусовыми характеристиками.
          Таким образом был создан и наш фирменный кофе «ГУРМЕ» из признанных лучшими сортов арабики. В нем удачно сочетаются вкус шоколада, острота, мягкость и винный привкус.
          = render 'layouts/price'
      #tabs-2
        %h2 Guatemala Genuine Antigua
        %p.imgprice
          %img{src: "images/ill_guatemala.jpg"}
        %p.text
          Огнедышащий кофе из Гватемалы. Этот кофе будоражит воображение своим табачным, немного дымным, «клокочущим» вкусом. Плантации расположены на подвижной вулканической почве. Самые известные местные сорта кофе – Антигуа, Кобан, дающие острый насыщенный напиток и отражающие темперамент «накаленной атмосферы»
          = render 'layouts/price'

      #tabs-3
        %h2 Columbia Medellin EXCELSO
        %p.imgprice
          %img{src: "images/ill_columbia.jpg"}
        %p.text
          Экваториальный кофе из Колумбии. Колумбийские кофейные зерна впитали солнечную энергию на высоте 1000 метров над уровнем моря, передав напитку бархатистость климата, богатство и полноту аромата, в котором будто бы сконцентрированы гигантские плантации Колумбии. Разнообразие микро-климата, чередование гористой местности и долин превращает Колумбию в страну практически круглогодичного сбора кофе. Среди гурманов особенно ценится кофе глав-ных кофейных плантаций страны в районе городов Медельин, Армения и Манисалес.
      #tabs-4
        %h2 Kenya Fancy AA
        %p.imgprice
          %img{src: "images/ill_kenya.jpg"}
        %p.text
          Винный кофе из Кении. Сравнение достоинств кофе с вином больше всего подходит кенийскому напитку, опьяняющему своим винным, пряным привкусом, который возникает благодаря высокой кислотности и густому аромату. Высота кофейных плантаций достигает здесь 2100 метров, что влияет на освежающие свойства кофе – его рекомендуют подавать не только горячим, но и охлажденным.
          = render 'layouts/price'
      #tabs-5
        %h2 Nicaragua SHG
        %p.imgprice
          %img{src: "images/ill_nicaragua.jpg"}
        %p.text
          Революционный кофе из Никарагуа. Возможно благодаря революции 1979 года и последующему периоду политической нестабильности в стране, никарагуанский кофе выделяется насыщенностью страстей и вы-разительным букетом. Нежный шоколадный вкус, коньячный привкус и долгое послевкусие терпкой горчинки очаровывает каждого, кто попробовал этот удивительный напиток.
          = render 'layouts/price'
      #tabs-6
        %h2 Ethiopian YIRGACHEFFE
        %p.imgprice
          %img{src: "images/ill_ethiopian.jpg"}
        %p.text
          Цветочный кофе из Эфиопиии. Эфиопия – колыбель кофе, в частности, сорта Арабика. Эфиопский кофе растет на высотах от 1100 до 2100 метров над уровнем моря. Самый ароматный и высококачественный сорт кофе из района Сидамо носит название Йиргачеф. Его оценивают как один из лучших сортов. Он дает богатый настой с многослойным, удивительно долгим послевкусием, в котором ощущаются цветочные нотки.
          = render 'layouts/price'
      #tabs-7
        %h2 Indonesia Java
        %p.imgprice
          %img{src: "images/ill_indonesia.jpg"}
        %p.text
          Колониальный кофе из Индонезии. Достоинства кофе с острова Ява – пикантный экспрессивный букет, и вместе с тем тонкий вкус. В Индонезии практически весь кофе производится на маленьких плантациях, где «Арабика» занимает только 10 %. Но именно благодаря этому индонезийская «Арабика» стала предметом повышенного внимания любителей редкостей.
          = render 'layouts/price'
      #tabs-8
        %h2 Brazil SANTOS
        %p.imgprice
          %img{src: "images/ill_brazil.jpg"}
        %p.text
          Самый известный кофе из Бразилии. Из многочисленных торговых сортов бразильского кофе этот сорт определяется размером кофейных зерен. Флэт Бит Сантос – это крупные и ровные зерна с деревьев старше 4-х лет. Дает мягкий аромат и среднюю насыщенность с легким ореховым привкусом.
          = render 'layouts/price'
      #tabs-9
        %h2 Jamaica BLUE MOUNTAIN
        %p.imgprice
          %img{src: "images/ill_jamaica.jpg"}
        %p.text
          Островной кофе из Ямайки. Ямайка знаменита единственным сортом кофе JAMAICA BLUE MOUNTAIN. Это самый высокогорный сорт кофе в мире. Природные и климатические условия острова обеспечивают почти идеальную вегетацию кофейных деревьев, растущих на террасах хребта BLUE MOUNTAIN, высота которого достигает 3000 метров. Из-за ограниченности места произрастания стоимость этого сорта кофе очень высока.
          = render 'layouts/price'
      #tabs-10
        %h2 Columbia decaffinated
        %p.imgprice
          %img{src: "images/ill_bezkofeina.jpg"}
        %p.text
          Кроме того, в нашей коллекции также представлен бескофеиновый кофе, который, согласно витиеватой традиции, сравнивают с благоухающим садом без змей.
          = render 'layouts/price'
      #tabs-11
        %h2 Costa Rica SHB
        %p.imgprice
          %img{src: "images/ill_costarica.jpg"}
       
        %p.text
          Высокогорный кофе из Коста-Рики. Этот кофе отличается вкусом чистым и легким как горный воздух, овевающий кофейный плантации Коста-Рики. Из стран Центральной Америки Коста-Рика первой начала экспортировать кофе – недаром эта страна в переводе на русский язык означает «Богатый берег». Любопытно также и то, что в Коста-Рике культивируются исключительно зерна Арабика. Разведение кофе сорта Робуста запрещено. Более медленное развитие кофейных деревьев на высокогорьях приводит к получению зерна с особенно изысканным вкусом и ароматом.
          %br
          Костариканский кофе – само совершенство. Насыщенный и богатый, обладающий легким, чистым вкусом, прекрасным ароматом имеет репутацию как одного из лучших сортов кофе в мире.
          = render 'layouts/price'
      #tabs-16
        %h2 Uganda Organic Bugisu AB
        %p.imgprice
          %img{src: "images/ill_bugisu.jpg"}
        %p.text
          Кофе этого сорта выращивают на горе Элгон, расположенной на северо-востоке Уганды в районе под названием Северный Бугису. Арабику, из которой производят кофе "Organic Bugisu", обрабатывают влажным способом на небольших фермах, называющихся "шэмбас". Этот кофе, растущий среди бананов и маниоки, отличается весьма оригинальным вкусом, в котором ярко выражены древесные нотки.
          = render 'layouts/price'
      #tabs-12
        %h2 Смесь «Северная Венеция»
        %p.imgprice
          %img{src: "images/ill_venecia.jpg"}
        %p.text
          Купаж колумбийской арабики премиум-класса и робусты. Идеальная смесь для употребления в течение всего дня. Бархатный, хорошо сбалансиро-ванный вкус с запоминающимся ароматом.
          %br
          %br
          Робуста из Уганды. Купаж арабики с робустой: 60% - 40%
          = render 'layouts/price'
      #tabs-15
        %h2 Смесь «Кофейная симфония»
        %p.imgprice
          %img{src: "images/ill_simfonia.jpg"}
        %p.text
          Смесь для отличного начала дня. Горьковато-вяжущий вкус с винными нотками. Купаж индонезийской и никарагуанской арабики премиум-класса и робусты.
          %br
          %br
          Робуста из Уганды. Купаж арабики с робустой: 60% - 40%
          = render 'layouts/price'
      #tabs-17
        %h2 Смесь «Крепкая»
        %p.imgprice
          %img{ src: "images/together_01_small.jpg" }
        %p.text
          Робуста из Уганды.
          = render 'layouts/price'
      #tabs-18
        %h2 Эспрессо вендинг
        %p.imgprice
          %img{ src: "images/together_01_small.jpg" }
        %p.text
          Робуста из Уганды. Купаж арабики с робустой: 80% - 20%
          = render 'layouts/price'
      #tabs-19
        %h2 Ленинградская
        %p.imgprice
          %img{ src: "images/together_01_small.jpg" }
        %p.text
          Робуста из Уганды. Купаж арабики с робустой: 60% - 40%
          = render 'layouts/price'