<div class="dop-content2">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-2">Невский пр., 48</a></li>
				<li><a href="#tabs-5">Литейный пр., 16</a></li>
				<li><a href="#tabs-6">ул. Марата, 86</a></li>
				<li><a href="#tabs-7">Московский пр., 109</a></li>
				<li><a href="#tabs-1">Чкаловский пр., 11</a></li>
				<li><a href="#tabs-3">пр. Художников, 14</a></li>	
				<li><a href="#tabs-4">г. Ростов-на-Дону</a></li>
			</ul>
			<div id="tabs-1">
				<%= render 'layouts/yandex_01' %>
			</div>
      <div id="tabs-2">
				<%= render 'layouts/yandex_02' %>
			</div>
			<div id="tabs-3">
				<%= render 'layouts/yandex_03' %>
			</div>
			<div id="tabs-5">
				<%= render 'layouts/yandex_05' %>
			</div>
			<div id="tabs-6">
				<%= render 'layouts/yandex_06' %>
			</div>
			<div id="tabs-4">
				<%= render 'layouts/yandex_04' %>
			</div>
			<div id="tabs-7">
				<%= render 'layouts/yandex_07' %>
			</div>
		</div>
</div>



