.kofmenu.marata
	= link_to "images/menu-marata/00_zavtraki.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/00_zavtraki.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/01_kofe.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/01_kofe.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/001_kofe.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/001_kofe.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/02_kofealko.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/02_kofealko.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/03_greentea.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/03_greentea.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/04_blacktea.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/04_blacktea.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/05_molcocktail.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/05_molcocktail.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/06_freshju.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/06_freshju.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/07_supy.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/07_supy.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/08_salaty.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/08_salaty.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/09_alko.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/09_alko.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/10_vina.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/10_vina.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/11_napitki.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/11_napitki.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/12_pirojnye.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/12_pirojnye.jpg", title: "Нажмите для увеличения"

	= link_to "images/menu-marata/13_zernakofe.jpg", class: 'highslide', :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )" do
		= image_tag "/images/menu-marata/small/13_zernakofe.jpg", title: "Нажмите для увеличения"
	