.dop-content2.vending
  %h1 Кофе для вендинга
  %br
  #vending_img
    .text2
      %br
      Бесплатная доставка до транспортной компании в СПб!
      %br
      (от коробки 6 кг)
    %img{src: "images/avtomat_01.png"}
    %img{src: "images/avtomat_02.png"}

  %p
    БЕСПРЕЦЕДЕНТНАЯ АКЦИЯ!
    %br
    Вопреки росту курса доллара!
  %table.vending_table{border: "1", rules: "all"}
    %tr
      %td Смесь "Крепкая"" (робуста 100%)
      %td 245 рублей/кг
      %td
        = link_to 'images/together_01.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery09' } )" do
          = image_tag 'together_01_small.jpg', title: "Нажмите для увеличения"
    %tr
      %td Espresso BAR (арабика с робуста: 20% - 80%)
      %td 265 рублей/кг
      %td
        = link_to 'images/pachka_bar.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery09' } )" do
          = image_tag 'pachka_bar.jpg'
    %tr
      %td Espresso EXTRA (арабика и робуста: 40% - 60%)
      %td 285 рублей/кг
      %td
        = link_to 'images/pachka_extra.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery09' } )" do
          = image_tag 'pachka_extra.jpg'

  = render 'layouts/price'

  .text
    %b Важно:
    %p 1. Кофе урожая 2014 года
    %p 2. Поставка от 6 кг одного наименования
    %p 3. Бесплатная доставка по СПб либо до терминала транспортной компании в СПб
    %strong (812) 930-1650

  = render 'layouts/dop-footer'