= link_to 'images/kof/rostov/2/01.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/2/01.jpg'
= link_to 'images/kof/rostov/2/02.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/2/02.jpg'
= link_to 'images/kof/rostov/2/03.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/2/03.jpg'
= link_to 'images/kof/rostov/2/04.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/2/04.jpg'
= link_to 'images/kof/rostov/2/05.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/2/05.jpg'
= link_to 'images/kof/rostov/2/06.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/2/06.jpg'
= link_to 'images/kof/rostov/2/07.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/2/07.jpg'

%br
%br
%br
%table.table_kofejni
  %tr
    %td.td_kofejni
    %td.td_kofejni
      %p.p_kof
        Адрес:
      г. Ростов-на-Дону, пер. Соборный 39
      %br
      (угол с. ул. Красноармейской 27)
%br
%br