= link_to 'images/kof/rostov/rostov_01.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/rostov_01.jpg'
= link_to 'images/kof/rostov/rostov_02.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/rostov_02.jpg'
= link_to 'images/kof/rostov/rostov_03.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/rostov_03.jpg'
= link_to 'images/kof/rostov/rostov_04.jpg', class: 'highslide', onclick: "return hs.expand(this, { slideshowGroup: 'gallery03' } )" do
  = image_tag '/images/kof/rostov/rostov_04.jpg'
%br
%br
%br
%table.table_kofejni
  %tr
    %td.td_kofejni
    %td.td_kofejni
      %p.p_kof
        Адрес:
      344082, г. Ростов-на-Дону, ул. Большая Садовая, 34а
%br
%br