<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="keywords" content="<%= @keywords %>" />
    <meta name="description" content="<%= @description %>" />
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <meta name="robots" content="index, follow" />
    <script type="text/javascript" src="javascripts/tabs/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="javascripts/highslide/highslide-full.js"></script>
    <!--<script type="text/javascript" src="javascripts/external/jquery-1.6.2.min.js"></script>-->
    
    <!-- jQuery Plugin scripts -->
    <script type="text/javascript" src="javascripts/external/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="javascripts/external/jquery.mousewheel.min.js"></script>

    <script type="text/javascript" src="javascripts/sliderkit/jquery.sliderkit.1.9.2.pack.js"></script> 
    <script type="text/javascript" src="javascripts/sliderkit/jquery.sliderkit.1.9.2.pack.js"></script>   
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.delaycaptions.1.1.pack.js"></script>
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.counter.1.0.pack.js"></script>
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.timer.1.0.pack.js"></script>
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.imagefx.1.0.pack.js"></script>
    <script type="text/javascript" src="javascripts/tabs/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".photosgallery-vertical").sliderkit({
            autospeed:     9000,
            circular:      true,
            mousewheel:    false,
            shownavitems:  7,
            verticalnav:   true,
            navclipcenter: true,
        });
    });
    </script>
    <script type="text/javascript">
      $(function(){
        // Accordion
        $("#accordion").accordion({ header: "h3" });
        // Tabs
        $('#tabs').tabs();
        //hover states on the static widgets
        $('#dialog_link, ul#icons li').hover(
          function() { $(this).addClass('ui-state-hover'); },
          function() { $(this).removeClass('ui-state-hover'); }
        );
      });
    </script>
<script type="text/javascript">
hs.graphicsDir = '/graphics/';     
hs.transitions = ['expand', 'crossfade'];                 
hs.dimmingOpacity = 0.1;                     
hs.align = 'center';                  
hs.outlineType = 'drop-shadow',
hs.showCredits = false,
hs.fadeInOut = true;
hs.addSlideshow({
  // slideshowGroup: 'group1',
  interval: 3000,
  repeat: false,
  useControls: true,
  fixedControls: true,
  overlayOptions: {
    opacity: 1,
    position: 'bottom center',
    hideOnMouseOut: true
  }
});
</script>
<script>
$(document).ready(function() {
  $('.title').append('<span></span>');
  $('.post span').each(function() {
    var trigger = $(this), state = false, el = trigger.parent().next('.entry');
    trigger.click(function(){
      state = !state;
      el.slideToggle();
      trigger.parent().parent().toggleClass('inactive');
    });
  });
});
</script>
  </head>
  <body>
  <div id="body-bg">
      <%= render 'layouts/header' %>
    <div class="container">
      <div id="left">
      <a href="/prazdniki">
        <img src="../images/akcii_party.png" />
      </a>
      </br>
      <a href="/prazdniki">
        <img src="../images/akcii_party_text.png" />
      </a>
      </br></br>

      <a href="/reklama">
        <img src="../images/akcii_reklama.png" />
      </a>
      </br>
      <a href="/reklama">
        <img src="../images/akcii_reklama_text.png" />
      </a>
      </br></br>

      <a href="/kofe#tabs-16">
        <img src="../images/akcii_02.png" />
      </a>
      </br>
      <a href="/kofe#tabs-16">
        <img src="../images/akcii_01.png" />
      </a>
      </br></br>
      
      <a href="/dostavka-kofe-i-chaya">
        <img src="../images/akcii_05.png" />
      </a>
      </br>
      <a href="/dostavka-kofe-i-chaya">
        <img src="../images/akcii_03.png" />
      </a>
      </br></br>

      <a href="/zelenyj-kofe">
        <img src="../images/akcii_04.png" />
      </a>
      </br>
      <a href="/zelenyj-kofe">
        <img src="../images/akcii_10.png" />
      </a>
      </br></br>

      <a href="/kofejni">
        <img src="../images/akcii_kofejni.png" />
      </a>
      </br>
      <a href="/kofejni">
        <img src="../images/akcii_kofejni_02.png" />
      </a>
      </br></br></br></br>
      <a href="http://vk.com/club48870789" class="vk" target="_blank"><span></span></a>
      <a href="https://twitter.com/dom_gurme" class="tw" target="_blank"><span></span></a>
      <a href="http://www.facebook.com/pages/%D0%9A%D0%BE%D1%84%D0%B5%D0%B9%D0%BD%D1%8B%D0%B9-%D0%94%D0%BE%D0%BC-%D0%93%D0%A3%D0%A0%D0%9C%D0%95/342727355836123" class="fb" target="_blank"><span></span></a>
      <br>
      <p style="color: #663306; font-size: 12px; padding: 10px 0;">
        Наши странички <br>
        в социальных сетях
      </p>
      </div>

        <%= yield %>

    </div>
    <footer>

      <%= render 'layouts/metrika' %>
    </footer>
  </div>
  </body>
</html>
