<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
      <%= render 'layouts/header' %>
    <div class="container">
      <div id="left">
        <img src="../images/akcii_02.png" />
      </br>
        <img src="../images/akcii_01.png" />
      </br></br>
        <img src="../images/akcii_02.png" />
      </br>
        <img src="../images/akcii_01.png" />
      </div>
      <section class="round">
        <%= yield %>
      </section>
    </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
